<div class="wrapper">
    <div class="pre-title animate__animated animate__fadeInUp animation-1">Hola mi nombre es</div>
    <h1 #asTitle class="title animate__animated animate__fadeInUp animation-2"></h1>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-3">Soy desarrollador web</h2>
    <p class="description animate__animated animate__fadeInUp animation-4">
        Desarrollador web fullstack, enfocado en tecnología Frontend, con más de dos años de experiencia.
    </p>
    <div class="video-wrapper animate__animated animate__fadeInUp animation-5">
        <hr>
        <iframe src="https://www.youtube.com/embed/-xXfelCzAi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="link-wrapper animate__animated animate__fadeInUp animation-6">
        <hr>
        <div class="link d-flex flex-wrap">
            <div class="block col-12 col-lg-4" *ngFor="let item of social">
                <a [href]="item.url" target="_blank">
                    <div class="block-in">
                        <span [innerHTML]="item.ico"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>